body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: Roboto, sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
  border: none;
  border-radius: 5px;
  padding: .5rem 2rem;
  font-size: 18px;
}

.section-inner {
  max-width: 900px;
  width: 100%;
  margin: 4rem 0;
}

.section-header {
  background-color: #1F2937;
  color: #f9faf8;
  width: 100%;
  display: flex;
  justify-content: center;
}

.headers-inner {
  max-width: 900px;
  width: 100%;
  
}

.header {
  display: flex;
  align-items: center;
} 
 
.logo {
  font-size: 24px;
}
 
 ul.header-nav {
  padding-inline-start: 0px;
  list-style: none;
  margin-left: auto;
  display: flex;
  gap: 1em;
  color: #E5E7EB;
  font-size: 18px;
}

.section1 {
  background-color: #1F2937;
  color: #f9faf8;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section1-inner {
  max-width: 900px;
  width: 100%;
  justify-content: center;
}

.hero-section {
  display: flex;
  flex: 1 1 50%;
  gap: 3rem;
}

.hero-section-text {
  width: 50%;
}

 p.subhead {
  color: #E5E7EB;
  font-size: 18px;
  margin: 1rem 0;
}

.hero-section-image {
  width: 50%;
  background-color: rgba(255, 255, 255, .25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.section2 {
  display: flex;
  flex-direction: column;
  text-align: center; 
  width: 100%;
  align-items: center;
}

.cards {
  display: flex;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-image {
  height: 150px;
  width: 100%;
  border: #3882F6 solid 2px;
  border-radius: 5px;
}

.section3 {
  background-color: #E5E7EB;
  width: 100%;
  display: flex;
  justify-content: center;
}
.s3-quote {
  margin: 0 4rem;
}

.s3-quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
}

.s3-quote-author {
  font-weight: bold;
  font-size: 24px;
  text-align: right;
}

.section4 {
  display: flex;
  flex-direction: column;
  text-align: center; 
  width: 100%;
  align-items: center;
}

.s4-cta-block {
  background-color: #3882F6;
  color: #F9FAF8;
  display: flex;
  justify-content: space-around;
  text-align: left;
  align-items: center;
  max-width: 1100px;
  width: 100%;
  padding: 2rem 0;
  border-radius: 5px;
}

.s4-title {
  font-size: 24px;
  font-weight: 700;
  padding: .1rem 0;  
}

.s4-content {
  font-size: 18px;
  font-weight: 200;
}

.s4-button {
  border: solid 2px #F9FAF8;
  border-radius: 5px;
}

.footer {
  background-color: #1F2937;
  color: #f9faf8;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-content {
  margin: 2rem 0;
}